.wrapper {
    cursor: default;
    margin-top: 100px;

    position: relative;
    z-index: 1;

    height: 700px;
    background-repeat: no-repeat;
    background-image: url('../../images/bgMagic.png');
    background-size: contain;

    @media (max-width: 1350px) {
        display: none;
    }
}

.contentText {
    position: absolute;
    top: 450px;
    left: 160px;

    display: flex;
    justify-content: space-between;

    width: 1000px;

    >div:nth-child(2) {
        margin-top: 80px;

        padding-top: 20px;
        border-radius: 20px;
        background: rgba(59, 59, 59, 0.5);
    }

    @media (max-width: 1250px) {
        width: 800px;
    }
}

.leftContent {
    width: 500px;
    display: flex;
    flex-direction: column;

    .user {
        cursor: pointer;
        background: rgba(59, 59, 59, 1);
        width: 110px;
        padding: 15px 25px;
        border-radius: 20px;
        margin-bottom: 20px;

        display: flex;
        gap: 10px;

        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        color: rgba(255, 255, 255, 1);

        >img {
            width: 24px;
            height: 24px;
        }
    }

    .title {
        margin-bottom: 20px;
        font-size: 51px;
        font-weight: 600;
        line-height: 56.1px;
        color: white;

        @media (max-width: 1250px) {
            font-size: 38px;
            font-weight: 600;
            line-height: 45.6px;
            color: white;
        }
    }

    .btn {
        cursor: pointer;
        background: white;
        display: flex;
        gap: 10px;
        width: 96px;
        padding: 19px 50px;
        border-radius: 20px;

        font-size: 16px;
        font-weight: 600;
        line-height: 22.4px;
        color: rgba(43, 43, 43, 1);
    }
}

.rightContent {
    padding-top: 20px;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.5);

    position: absolute;
    top: 500px;
    z-index: 10;
    left: 910px;

    display: flex;
    flex-direction: column;
    align-items: end;
}