.wrapper {
    width: 1050px;
    margin: 0 auto;
    background: rgba(59, 59, 59, 1);
    border-radius: 20px;

    @media (max-width: 1250px) {
        width: 700px;
        margin-top: 70px;
    }
}

.container {
    width: 950px;
    margin: 0 auto;
    padding: 30px 0;

    display: flex;
    justify-content: space-between;

    @media (max-width: 1250px) {
        width: 650px;
    }
}

.leftContent {

    >img {
        @media (max-width: 1250px) {
            width: 300px;
            height: 280px;
        }
    }

}

.rightContent {
    width: 425px;

    @media (max-width: 1250px) {
        width: 330px;
    }
}

.title {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    color: white;
    padding-bottom: 10px;

    @media (max-width: 1250px) {
        font-size: 28px;
        font-weight: 600;
        line-height: 39.2px;
        color: white;
    }
}

.desc {
    font-size: 22px;
    font-weight: 400;
    line-height: 35.6px;
    color: white;
    padding-bottom: 20px;

    @media (max-width: 1250px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        color: white;
    }
}

.btn {
    width: 425px;
    position: relative;

    @media (max-width: 1250px) {
        width: 330px;
    }

    >input {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.4px;
        color: rgba(43, 43, 43, 1);

        padding: 18px 220px 18px 20px;
        border-radius: 20px;
        border: none;

        width: 185px;
        outline: none;

        @media (max-width: 1250px) {
            padding: 12px 95px 12px 20px;
        }
    }
}

.btnSubscridle {
    cursor: pointer;

    position: absolute;
    left: 217px;
    top: -1px;

    display: flex;
    gap: 5px;
    align-items: center;
    width: 105px;

    padding: 19px 52px;
    background: rgba(162, 89, 255, 1);
    border-radius: 20px;

    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: white;

    >img {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 1250px) {
        top: 70px;
        left: 0;

        padding: 12px 97px;
    }
}