.wrapper {
    width: 1050px;
    margin: 150px auto;
}

.title {
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    color: white;
    margin-bottom: 50px;
}

.rowCategori {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(2, 320px);
    justify-content: space-between;
    row-gap: 20px;

    .categori {
        background: rgba(59, 59, 59, 1);
        border-radius: 20px;

        .titleCart {
            background: rgba(59, 59, 59, 1);
            border-radius: 20px;

            padding: 20px 10px;

            font-size: 22px;
            font-weight: 600;
            line-height: 30.8px;
            color: white;
        }
    }
}